body {
    height: 100vh;
    background: linear-gradient(135deg, #eef2ff, #d9e8ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.card-img-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.profile-btn {
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    justify-content: center;
}